<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <appSettings>
    <!--账号信息-->
    <add key="WeixinToken" value="luxlead" />
    <add key="AppID" value="wxd1af380b1476f730" />
    <add key="AppSecret" value="f32bad50bfe13b936e2c48fa972384b2" />
    <!--商户信息-->
    <add key="mch_id" value="1248420601" />
    <add key="mch_Secret" value="lvgLHOmLkzoyZAGm8lsT2sEE26LXaunx" />
    <!--证书信息-->
    <add key="cert_path" value="C:\cert\apiclient_cert.p12" />
    <add key="cert_password" value="1248420601" />
    <!--数据库连接字符串信息-->
    <!--<add key="ConnectionString" value="server=192.168.1.247;database=weixin;uid=sa;pwd=luxlead2013*;pooling=true;max pool size=150;min pool size=5;connection timeout=30" />-->
    <add key="ConnectionString" value="server=weixin.rdsmgd1r79elc4f.rds.bj.baidubce.com;port=3306;database=weixin;uid=jake;pwd=Luxlead_2013;connection timeout=30" />
    <!--日志配置-->
    <add key="LogIsWrite" value="true" />
    <add key="LogFilePath" value="C://Luxlead_Weixin_Log" />    
  </appSettings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data,      Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>

</configuration>
